.icono_editar {
    color: #000000;
}

.icono_editar:hover {
    color: #0fd142;
}

.bi-pencil-square::before {
    font-size: 19px;
}

.icono_eliminar {
    color: #000000;
}

.icono_eliminar:hover {
    color: #eb0e0e;
}

.bi-trash::before {
    font-size: 19px;
}

.bi-person-circle::before {
    font-size: 20px;
}

.bi-key-fill::before {
    font-size: 20px;
}

.bi-envelope-fill::before {
    font-size: 21px;
}

.bi-person-fill-gear::before {
    font-size: 21px;
}

.bi-phone-fill::before {
    font-size: 20px;
}

.bi-signpost-split-fill::before {
    font-size: 21px;
}

.bi-person-plus-fill::before {
    font-size: 18px;
}

.bi-pencil-fill::before {
    font-size: 18px;
}