<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <title>Bienvenida</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mx-3" href="#">cristiandurf</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mx-2">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Usuario
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Agregar usuario</a></li>
                        <li><a class="dropdown-item" href="#">Ver usuario</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Empleador
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Agregar empleador</a></li>
                        <li><a class="dropdown-item" href="#">Ver empleadores</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Trabajador
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Agregar trabajador</a></li>
                        <li><a class="dropdown-item" href="#">Ver trabajador</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Liquidación
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Nueva liquidación</a></li>
                        <li><a class="dropdown-item" href="#">Ver liquidación</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success">Cerrar Sesión</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="content-wrapper d-flex flex-column" style="min-height: 100vh">
    <main class="container text-center flex-grow-1">
        <h1 class="pt-5">Bienvenido "nombre usuario"</h1>
        <h3 class="my-4">¿Qué deseas hacer?</h3>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100 mt-4" style="background: #000">
                    <div class="text-center">
                        <h5 class="card-title text-center mb-0 py-5" style="color: #fff">Crear Usuario</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mt-4" style="background: #000">
                    <div class="text-center">
                        <h5 class="card-title mb-0 py-5" style="color: #fff">Crear Empleador</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mt-4" style="background: #000">
                    <div class="text-center">
                        <h5 class="card-title mb-0 py-5" style="color: #fff">Crear Trabajador</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mt-4" style="background: #000">
                    <div class="text-center">
                        <h5 class="card-title mb-0 py-5" style="color: #fff">Crear Liquidación</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mt-4" style="background: #000">
                    <div class="text-center">
                        <h5 class="card-title mb-0 py-5" style="color: #fff">Ver y/o editar usuarios</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mt-4" style="background: #000">
                    <div class="text-center">
                        <h5 class="card-title mb-0 py-5" style="color: #fff">Ver y/o editar empleador</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mt-4" style="background: #000">
                    <div class="text-center">
                        <h5 class="card-title mb-0 py-5" style="color: #fff">Ver y/o editar trabajador</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mt-4" style="background: #000">
                    <div class="text-center">
                        <h5 class="card-title mb-0 py-5" style="color: #fff">Ver y/o editar liquidación</h5>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="container text-center py-5">
        <h3>Para agregar una nueva liquidación selecciona la opción</br>"Ver y/o editar trabajador"</h3>
    </div>
    <footer th:include="~{../static/html/footer.html}"></footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>