<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <title>Lista de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<nav th:include="~{../static/html/navbar2.html}"></nav>

<div class="content-wrapper d-flex flex-column" style="min-height: 100vh">
    <main class="container text-center flex-grow-1">
        <h3 class="pt-5">Lista de Usuarios</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Run</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido 1</th>
                <th scope="col">Email</th>
                <th scope="col">Perfil</th>
                <th scope="col">Acción</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="usuario: ${usuarios}">
                <td th:text="${usuario.idUsuario}"></td>
                <td th:text="${usuario.run}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.apellido1}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.perfil.descripcion}"></td>
            </tr>
            </tbody>
        </table>
    </main>
    <footer th:include="~{../static/html/footer.html}"></footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>